
@{
    ViewBag.Title = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Müsteri Adı</label>
        <input type="text" class="form-control" name="MUSTERIAD"/>
    </div>
    <div>
        <label>Müsteri Soyadı</label>
        <input type="text" class="form-control" name="MUSTERISOYAD"/>
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-info">Müsteri Ekle</button>
    </div>
</form>

