@{
    ViewBag.Title = "About";
}
<br/>
<form method="get">

    <fieldset>
        Film Türü Seçin :
        <select id="MovieType" name="MovieType" class="form-control">
            

            <option value="0">Aksiyon</option>

            <option value="1">Drama</option>

            <option  value="2">Komedi</option>

            <option value="3">Bilim Kurgu</option>

        </select>

    </fieldset>

</form>